extends layout

block content
  div 
    h1 Movimentos 
    div  
        table 
            tr 
                th Número 
                th Tipo
                th Data
                th Valor 
                th Entidade 
                th Descrição
            each m in movimentos
                tr
                    td= m.Número
                    td= m.Tipo 
                    td= m.Data 
                    td= m.Valor 
                    td= m.Entidade 
                    td= m.Descrição

        h3
            a(href="/movimentos/add") Adicionar Movimento      